anyio==4.12.1
shellingham==1.5.4
semantic-version==2.10.0
platformdirs==4.9.4
requests==2.32.5
sentry-sdk==2.54.0
pydub==0.25.1
click==8.3.1
gradio_client==2.3.0
huggingface_hub==1.6.0
uvicorn==0.41.0
certifi==2026.2.25
ffmpy==1.0.0
python-multipart==0.0.22
pydantic==2.12.5
torchvision==0.25.0
charset-normalizer==3.4.5
networkx==3.6.1
groovy==0.1.2
protobuf==6.33.5
fsspec==2026.2.0
idna==3.11
typer==0.24.1
starlette==0.52.1
rich==14.3.3
pillow==12.1.1
httpcore==1.0.9
filelock==3.25.2
opencv-python-headless==4.13.0.92
setuptools==65.5.0
tomlkit==0.13.3
sympy==1.14.0
markdown-it-py==4.0.0
aiofiles==24.1.0
pytz==2026.1.post1
gradio==6.9.0
pyarrow==23.0.1
h11==0.16.0
gitdb==4.0.12
smmap==5.0.3
fastapi==0.135.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyYAML==6.0.3
pydantic_core==2.41.5
urllib3==2.6.3
typing_extensions==4.15.0
pandas==3.0.1
Jinja2==3.1.6
numpy==2.4.3
MarkupSafe==3.0.3
pip==26.0.1
safehttpx==0.1.7
GitPython==3.1.46
Pygments==2.19.2
packaging==26.0
brotli==1.2.0
torch==2.10.0
httpx==0.28.1
tqdm==4.67.3
orjson==3.11.7
typing-inspection==0.4.2
annotated-types==0.7.0
six==1.17.0
sandbox-autoencoders==0.1.0
wandb==0.25.1
hf-xet==1.4.0
annotated-doc==0.0.4
sandbox-autoencoders==0.1.0
